
    body {
        background-color: #F3F0D7;
    }
    hr {
        border-style: dotted none none none;
        height: 0px;
        border-width: 5px;
        width: 5%;
        border-color: grey;
        
    }
    h3 {
        color: darkgray;
    }
    h1 {
        color: cadetblue;
    }
    h2 {
        color: darkseagreen;
    }
    .couple {
        background-color: lightcyan;
        height: 250px;
        width: 300px;
    }
    .tajmahal {
        background-color: lightpink;
        height: 250px;
        width: 300px;
    }
    .circular {
        background-color: red;
        height: 200px;
        width: 250px;
    }
    #nature {
        background-color: powderblue;
        height: 300px;
        width: 350px;
    }
